.col-lg-3 {
    height: fit-content;
}
@media only screen and (max-width: 600px) and (min-width: 200px) {

.card-img-top{
    margin-top: 20px;
    height: 50%;
    width: 50%;
    margin-left: 25%;
}

.card{
    max-width: 100%;
}




}

@media only screen and (max-width: 920px) and (min-width: 768px) {
    .card-img-top{
        height: 50%;
        width: 50%;
        margin-left: 25%;
    }

    .col-lg-3 {
        height: 200px;
    }
}
